:root {
    --color_title: #080808;
    --color_title_rgb: 8,8,8;
    --color_body: #101010;
    --color_body_rgb: 16,16,16;
    --color_caption1: #404040;
    --color_caption1_rgb: 64,64,64;
    --color_caption2: #606060;
    --color_caption2_rgb: 96,96,96;
    --color_caption3: #555558;
    --color_caption3_rgb: 85,85,88;
    --color_search: #000;
    --color_search_rgb: 0,0,0;
    --color_border_out: #e3e5e8;
    --color_border_out_rgb: 227,229,232;
    --color_border_in: #ebebeb;
    --color_border_in_rgb: 235,235,235;
    --color_border_in_divider: #ebebeb;
    --color_border_in_divider_rgb: 235,235,235;
    --color_border_in_exception: #ebebeb;
    --color_border_in_exception_rgb: 235,235,235;
    --color_button_border: #dadcdf;
    --color_button_border_rgb: 218,220,223;
    --color_dot_divider: #d3d5d7;
    --color_dot_divider_rgb: 211,213,215;
    --color_block_bg: #fff;
    --color_block_bg_rgb: 255,255,255;
    --color_board_bg: #f4f6fa;
    --color_board_bg_rgb: 244,246,250;
    --color_option_bg: #f5f7f8;
    --color_option_bg_rgb: 245,247,248;
    --color_login_bg: #fafbfb;
    --color_login_bg_rgb: 250,251,251;
    --color_menu_widget_bg: #fff;
    --color_menu_widget_bg_rgb: 255,255,255;
    --color_setting_bg: #fff;
    --color_setting_bg_rgb: 255,255,255;
    --color_button1_bg: #fff;
    --color_button1_bg_rgb: 255,255,255;
    --color_button2_bg: #fff;
    --color_button2_bg_rgb: 255,255,255;
    --color_news: #3a67ea;
    --color_news_rgb: 58,103,234;
    --color_news_econ_stay: #909aab;
    --color_news_econ_stay_rgb: 144,154,171;
    --color_news_econ_down: #4f67d6;
    --color_news_econ_down_rgb: 79,103,214;
    --color_live_news_price: #f4361e;
    --color_live_news_price_rgb: 244,54,30;
    --color_enter: #e538e2;
    --color_enter_rgb: 229,56,226;
    --color_enter_bg: #f2f1fb;
    --color_enter_bg_rgb: 242,241,251;
    --color_sports: #1f65ef;
    --color_sports_rgb: 31,101,239;
    --color_sports_bg: #f4f7fe;
    --color_sports_bg_rgb: 244,247,254;
    --color_econ: #008f76;
    --color_econ_rgb: 0,143,118;
    --color_calendar: #eb5b5b;
    --color_calendar_rgb: 235,91,91;
    --color_dic: #031f5f;
    --color_dic_rgb: 3,31,95;
}

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    font-family: -apple-system,BlinkMacSystemFont,helvetica,"Apple SD Gothic Neo",sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

html {
    height: 100%;
    font-size: 14px
}

button,input,select,textarea {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none
}

button {
    cursor: pointer
}

label {
    cursor: pointer
}

fieldset,img {
    border: 0
}

address,em {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-text-size-adjust: none
}

body {
    height: 100%;
    color: #222;
    background-color: #fff;
}


.footer .footer_copy .footer_logo,
.header .logo,
.reconfirm_top .logo {
    background-image: url(../imgs/naver_logo.png);
    background-size: 244px 107px;
    background-repeat: no-repeat
}

.bullet_help,.captcha_form .image::after,.captcha_form .reload::after,.captcha_form .voice::after,.captcha_wrap .voice_box .icon_voice,.chatbot .icon_chatbot,.icon_delete,.id_pw_wrap .input_row .icon_cell .icon_id,.id_pw_wrap .input_row .icon_cell .icon_pw,.id_pw_wrap .input_row.on .icon_cell .icon_id,.id_pw_wrap .input_row.on .icon_cell .icon_pw,.img_lock,.img_wowpoint,.ip_relogin_box .relogin_close::after,.ip_relogin_box .relogin_tip::before,.keep_check .keep_text::before,.keep_check input:checked+.keep_text::before,.lang::after,.menu_id .menu_text::before,.menu_id.on .menu_text::before,.menu_id.on::after,.menu_ones .menu_text::before,.menu_ones.on .menu_text::before,.menu_ones.on::after,.menu_ones.on::before,.menu_qr .menu_text::before,.menu_qr.on .menu_text::before,.menu_qr.on::before,.nudge_banner .nudge_close .icon_nudge_close,.ones_text .bullet_set,.pop_img_lock,.qrcode_help_stepbox .popup_close::after,.qrcode_help_stepbox .step_title::before,.reconfirm_sub .captcha_form .image::after,.reconfirm_sub .captcha_form .reload::after,.reconfirm_sub .captcha_form .voice::after,.reconfirm_sub .captcha_wrap .voice_box .icon_voice,.sns_wrap li:nth-child(1) .sns_text::before,.sns_wrap li:nth-child(2) .sns_text::before,.sns_wrap li:nth-child(3) .sns_text::before,.step_ask .ask_text::before,.sub_desc .bullet_greendot,.sub_desc .bullet_lens,.time_wrap .btn_renewal::before {
    background-image: url(../imgs/sp_main03.png);
    background-size: 266px 225px;
    background-repeat: no-repeat
}

.wrap {
    position: relative;
    height: 100%;
    letter-spacing: -0.5px;
}


/* 헤더(로고,언어) */
.header {
    padding-bottom: 48px;
    box-sizing: border-box;
}

.header .header_inner {
    position: relative;
    width: 743px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.header .logo {
    display: inline-block;
    margin-top: 108px;
    vertical-align: top;
    background-position: 0 -51px;
    background-repeat: no-repeat;
    width: 155px;
    height: 30px;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.lang {
    position: absolute;
    top: 20px;
    right: 0;
}

.lang::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    background-position: -147px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    z-index: 0;
    color: #008f76;
}

.sel {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    min-width: 95px;
    height: 30px;
    padding: 4px 10px 6px 8px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0;
    cursor: pointer;
    z-index: 1;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}


/*콘텐츠-로그인 */
.login_wrap {
    box-sizing: border-box;
    width: 460px;
    margin: 0 auto;
}

.menu_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.menu_item {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.menu_id,
.menu_ones,
.menu_qr {
    display: block;
    position: relative;
    height: 61px;
    padding-top: 17px;
    border: 1px solid #e3e3e3;
    border-radius: 6px 6px 0 0;
    background-color: #f8f9fa;
    border-bottom: 0;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

.menu_id .menu_text, 
.menu_ones .menu_text, 
.menu_qr .menu_text {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #777;
    vertical-align: top;
}

.menu_id .menu_text::before, 
.menu_ones .menu_text::before, 
.menu_qr .menu_text::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
}

.menu_id.on,
.menu_ones.on,
.menu_qr.on {
    border-color: #c6c6c6;
    background-color: #fff;
    z-index: 5;
}

.menu_id.on .menu_text, 
.menu_ones.on .menu_text, 
.menu_qr.on .menu_text {
    color: #333;
}

/* 로그인 */
.menu_id {
    border-right: 0;
    border-radius: 6ox 0 0 0;
}

.menu_id::before {
    background-position: -194px -139px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.menu_id.on::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -8px;
    background-position: 0 -139px;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px;
    
}

.menu_id.on .menu_text::before {
    background-position: -142px -172px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}


/* 일회용 */
.menu_ones {
    border-right: 0;
    border-radius: 0;
}

.menu_ones .menu_text::before {
    background-position: -160px -172px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.menu_ones.on::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -8px;
    background-position: -17px -139px;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px;
}

.menu_ones.on::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -8px;
    background-position: 0 -139px;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px
}

.menu_ones.on .menu_text::before {
    background-position: -178px -172px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}


/* 큐알코드 */
.menu_qr {
    border-radius: 0 6px 0 0;
}

.menu_qr .menu_text::before {
    background-position: -124px -172px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.menu_qr.on::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -8px;
    background-position: -17px -139px;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px;
}

.menu_qr.on .menu_text::before {
    background-position: -105px -172px;
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
}

/* 넛지배너 */
.nudge_banner {
    position: absolute;
    top: -17px;
    right: -37px;
    height: 25px;
    padding: 4px 20px 3px 9px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #03c75a;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 10;
}

.nudge_banner .nudge_text {
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.56px;
    white-space: nowrap;
    color: #03c75a;
    vertical-align: top;
}

.nudge_banner .nudge_close {
    position: absolute;
    top: -2px;
    right: 0;
    width: 24px;
    height: 25px;
}

.nudge_banner .nudge_close .icon_nudge_close {
    display: inline-block;
    background-position: -198px -91px;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
}

/* 로그인파트 */
.panel_wrap {
    position: relative;
    z-index: 3;
    margin-top: -8px;
}

.panel_item {
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 rgba(68, 68, 68, 0.04);
}

.panel_inner {
    padding: 20px 28px;
}

::-webkit-input-placeholder {
    color: #b1b1b1;
}

input[type=text]::-webkit-input-placeholder {
    color: #b1b1b1;
}

.input_row {
    position: relative;
    display: block;
    height: 100%;
    border: 1px solid #dadada;
    padding: 16px 18px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgba(68, 68, 68, 0.08);
}

.input_row .icon_id {
    position: absolute;
}

.input_row+.input_row {
    margin-top: -1px;
}

.id_pw_wrap .input_row:first-child {
    border-radius: 6px 6px 0 0;
    box-shadow: none;
}

.id_pw_wrap .input_row:last-child {
    border-radius: 0 0 6px 6px;
}

.input_row.focus {
    border: 1px solid #03c75a;
    z-index: 6;
    display: none;
}

.id_pw_wrap .input_row {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
}

.id_pw_wrap .input_row .icon_cell {
    display: table-cell;
    width: 24px;
    vertical-align: middle;
}

.id_pw_wrap .input_row .icon_cell .icon_id,
.id_pw_wrap .input_row .icon_cell .icon_pw {
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -8px;
    background-position: -93px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.id_pw_wrap .input_row .icon_cell .icon_pw {
    background-position: -129px -203px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.id_pw_wrap .input_row .input_text {
    display: table-cell;
    padding-right: 30px;
}

.input_text {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #222;
    box-sizing: border-box;
    z-index: 4;
}

.btn_delete {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 35px;
    height: 35px;
    z-index: 5;
    background-color: #fff;
}

.icon_delete {
    display: inline-block;
    margin: 8px 0 0 8px;
    background-position: -244px -187px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

/* 로그인 하단 체크박스들 */
.login_keep_wrap {
    position: relative;
    margin-top: 13px;
    padding-right: 90px;
}

.keep_check {
    position: relative;
    padding-left: 23px;
}

.keep_check .input_keep {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
}

.keep_check .keep_text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #777;
}

.keep_check .keep_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-position: -244px -87px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-color: #fff;
}

.keep_check input:checked+.keep_text::before {
    background-position: -244px -167px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}


.ip_check {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 38px;
}

.ip_check .ip_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.41px;
    color: #777;
}

.ip_check .switch {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
    text-align: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.ip_check .switch_checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ip_check .switch_btn {
    display: block;
    position: relative;
    width: 33px;
    height: 18px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #c3c8c9;
    box-sizing: border-box;
}

.ip_check .switch_btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 2px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    box-sizing: border-box;
}

.ip_check .switch_checkbox:checked+.switch_btn {
    background-color: #03c75a;
    transition: all 0.2s ease;
}

.ip_check .switch_checkbox:checked+.switch_btn::before {
    transform: translate(15px,0);
    background-color: #fff;
}


/* 로그인버튼 */
.btn_login_wrap {
    margin-top: 38px;
}

.btn_login {
    display: block;
    width: 100%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #03c75a;
    box-sizing: border-box;
}

.btn_login .btn_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

/* 찾기 & 회원가입 */
.find_warp {
    padding: 20px 0 35px;
    text-align: center;
}

.find_warp li {
    position: relative;
    display: inline-block;
}

.find_warp .find_text {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #888;
}

.find_warp li+li {
    padding-left: 28px;
}

.find_warp li+li::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 12px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #dadada;
}


/* 배너 */
.banner_wrap {
    width: 460px;
    height: 147px;
    margin: 0 auto;
    text-align: center;
}

/* 푸터 */
.footer {
    padding: 63px 0 32px;
    box-sizing: border-box;
}

.footer .footer_inner {
    position: relative;
    text-align: center;
}

.footer .corp,
.footer .text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: #888;
} 

.footer .footer_link li {
    display: inline-block;
}

.footer .footer_link li+li {
    position: relative;
    padding-left: 13px;
}

.footer .footer_link li+li::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 1px;
    height: 11px;
    background-color: #dadada;
}

.footer .footer_link+.footer_copy {
    margin-top: 9px;
}

.footer .footer_copy .corp, 
.footer .footer_copy .text {
    line-height: 16px;
    font-family: 'Helvetica Neue', sans-serif;
} 

.footer .footer_copy .corp {
    padding: 0 2px;
    font-weight: 500;
    color: #000;
}

.footer .footer_copy .footer_logo {
    display: inline-block;
    vertical-align: top;
    background-position: -157px -51px;
    background-repeat: no-repeat;
    width: 70px;
    height: 15px;
}


